**/bin/
**/obj/
!/bin/
/packages/
riderModule.iml
/_ReSharper.Caches/
.fake
HappyNotes.Api.sln.DotSettings.user
appsettings.Local.json
.vscode
docker/logs
jieba
.env
logs
alembic*
memory-bank
generate_mcp_yaml.py
install_rooflow_conport.sh
system_prompt.md
