[Unit]
Description=HappyNotes.Api

[Service]
# This is the directory where our published files are
WorkingDirectory=/var/www/HappyNotes.Api
# We use the dotnet from our workspace installation
ExecStart=/var/www/HappyNotes.Api/.dotnet-sdk/dotnet /var/www/HappyNotes.Api/HappyNotes.Api.dll --urls "http://127.0.0.1:5012"
Restart=always
# Restart service after 10 seconds if the dotnet service crashes
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=happy-notes-api-log
# We can even set environment variables
Environment=ASPNETCORE_ENVIRONMENT=Staging
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
# When a systemd user instance starts, it brings up the per user target default.target
WantedBy=default.target